

<!-- Next Steps -->
<h2>{{ title }}</h2>
<p>{{ office }}</p>
<p>{{ bodyText }}</p>

<input type="hidden" #selection>
<div class="card-container">
    <button class="card card-small" tabindex="0">
        <div>
            <p>{{ today }} {{ today_label }}</p>
            <p>{{ today_telop }}</p>
        </div>
    </button>

    <button class="card card-small" tabindex="0">
        <div>
            <p>{{ tomorrow }} {{ tomorrow_label }}</p>
            <p>{{ tomorrow_telop }}</p>
        </div>
    </button>
</div>
